In [3]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
import pandas as pd
import numpy as np
import pickle

In [13]:
#Read csv
raw_df = pd.read_csv('exercise_40_test.csv')
raw_df.head()

,4.747627,20.509439,Wednesday,2.299105,-1.815777,-0.752166,0.0098%,-3.240309,0.587948,-0.260721,...,NA.9,12.542333,no.1,3.107683,0.533904,12.438759,7.298306,0.1,NA.10,93.56712
0,1.148654,19.301465,Fri,1.862200,-0.773707,-1.461276,0.0076%,0.443209,0.522113,-1.090886,...,-0.848567,7.213829,yes,4.276078,NaN,10.386987,12.527094,1,yes,98.607486
1,4.986860,18.769675,Saturday,1.040845,-1.548690,2.632948,-5e-04%,-1.167885,5.739275,0.222975,...,1.143388,10.483928,no,2.090868,-1.780474,11.328177,11.628247,0,yes,94.578246
2,3.709183,18.374375,Tuesday,-0.169882,-2.396549,-0.784673,-0.016%,-2.662226,1.548050,0.210141,...,0.693646,3.862867,no,2.643847,1.662240,10.064961,10.550014,1,NaN,100.346261
3,3.801616,20.205541,Monday,2.092652,-0.732784,-0.703101,0.0186%,0.056422,2.878167,-0.457618,...,-0.834763,3.632039,yes,4.074434,NaN,9.255766,12.716137,1,yes,102.578918
4,1.449185,17.237848,Sun,0.998924,0.882350,-1.700730,0.0076%,-0.371594,1.269817,-1.433127,...,0.636832,2.990617,no,3.476341,NaN,10.226547,8.795927,0,yes,107.472726

In [14]:
#Seperate categorical variables
category_df = raw_df.loc[:,raw_df.dtypes == np.object]

In [15]:
#Seperate numerical variables
num_df = raw_df.loc[:,raw_df.dtypes == np.float64]

In [9]:
#impute missing categorical vars as most frequent in category
for col in category_df:
    max_freq = category_df[col].value_counts().index[0]
    category_df[col][pd.isna(category_df[col])] = max_freq

C:\Users\vishn\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\vishn\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
scaled_num_df = pd.DataFrame(scalar.transform(imp_num_df))
x_df = pd.concat([scaled_num_df, onehot_df], axis = 1)
#save x vars
with open('x_df_test', 'wb') as x:
    pickle.dump(x_df, x, pickle.HIGHEST_PROTOCOL)